#emily {
  padding: 25px;
  font-family: "Lobster", cursive;
  color: #fcba03;
  font-size: 50px;
}

#menu {
  padding: 25px;
  font-size: 20px;
  font-family: "Crimson Text", serif;
}

#nav {
  background-color: #11b5ba;
}
